<div class="d-flex justify-content-center">
  <img
  [src]="url"
  [alt]="alt"
  class="card-img-top animate__animated animate__fadeIn"
  (load)="onLoad()"
  [ngStyle]="{ display: hasLoaded ? '' : 'none'}"
  />

  <!--
    ngStyle
    si hasLoaded esta en true entonces no pone nada
       pero si hasLoaded es false es decir todavia no ha cargado
       pone la imagen oculta
  -->
     <!-- src="assets/audio-loader.svg" -->

  <img
    *ngIf="!hasLoaded"
    src="assets/audio-loader.svg"
    height="35"
    width="35"
    class="mt-3"
    alt=""
  />
</div>
